ul {
  list-style: square;
  margin: 0px;
}

a {
  color: #331010;
}

body {
  color: #331010;
  font-family: sans-serif;
  background: linear-gradient(135deg, rgba(255, 0, 0, 1), rgba(255, 255, 255, 1));
}

table {
  table-layout: fixed;
  width: 100%;
}

td, th {
  word-break: break-all;
  overflow-wrap: break-word;
}

.main-setting {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
  /* IE(Internet Explorer)・Microsoft Edgeへのスクロールバー非表示対応 */
  -ms-overflow-style: none;
  /* Firefoxへのスクロールバー非表示対応 */
  scrollbar-width: none;
}

/* Google Chrome、Safariへのスクロールバー非表示対応 */
.contents_box::-webkit-scrollbar{
  display: none;
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 480px;
}

.header-box {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}

.header-content {
  font-weight: 700;
  font-size: 20px;
}

.header-link-object-box{
  border-radius: 28px;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 8px;
}

.object-box {
  margin-top: 0px;
  margin-bottom: 14px;
  padding: 14px 10px;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 8px;
}

.object-title {
  font-size: 18px;
  font-weight: 700;
}

.content {
  font-size: 14px;
  word-break:break-all;
}

.object-link {
  text-decoration: none;
}

.content-description {
  font-size: 12px;
}

.link-box {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.link-object-box{
  margin: 0px 15px;
  padding: 14px 10px;
  border-radius: 28px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 8px;
}

.table-column1 {
  width: 35px;
  font-size: 14px;
}

.table-column2 {
  width: calc(100% - (35px + 80px + 80px));
  font-size: 14px;
}

.table-column3 {
  width: 80px;
  font-size: 14px;
}

.table-content {
  font-size: 12px;
  text-decoration: none;
}

/* インデント */
.indent1 {
  padding-left: 1rem;
}

.indent2 {
  padding-left: 2rem;
}

.indent3 {
  padding-left: 3rem;
}

.indent4 {
  padding-left: 4rem;
}

/* スマホ画面サイズの場合、main以外を非表示 */
@media (max-width: 600px) {
  body > main > div:not(.main-box),
  body > main > :not(.main-box) {
    display: none !important;
  }
  .main-box {
    width: 90vw;
    max-width: 90vw;
    min-width: 0;
    box-sizing: border-box;
  }
}